


<div>
  {% extends "layouts/base.html" %}

  {% block title %} Charts Morris {% endblock %} 
  
  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}
  
      <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  {% endblock stylesheets %}
  
  {% block content %}


  <div class="container">
    <div class="alert alert-dark" role="alert">
        option  {{option_var}} for choice {{name}} : {{set_data}}
    </div>
</div>
<div class="container" align="left">
<embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
</div>

</div>
  
  
  {% endblock content %}
  
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
  
      <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
      <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  
  {% endblock javascripts %}
  


